<!DOCTYPE html>

{{>sidebar-trainer}}

<div style="padding: 20px;padding-left: 100px;">
    <div><label style="font-size: 24px;color: #006739;"><strong>Manage Trainees</strong></label>
        <p style="margin: 2px;"> Manage the list of trainees in your class by adding or removing them to the list. A class can have a maximum of 20 trainees.</p>
        <hr>
    </div>
    <div>
        <div class="d-flex" style="margin: 5px 10px;">
                <label class="float-left" style="padding-right: 26px;min-width: 70px;"><strong>Section</strong></label>
                <p id="classSection" value="{{{section}}}">{{section}}</p>
            </div>
            <div class="d-flex" style="margin: 5px 10px;">
                <label class="float-left" style="padding-right: 30px;min-width: 70px;"><strong>Course</strong></label>
                <p id="classCourse">{{course}} </p>
        </div>
        <div class="d-block float-left" style="width: 50%;padding: 20px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Trainees Endorsed</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);"></th>
                            <th style="background-color: #006739;color: rgb(255,255,255);"></th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #f6f6f6;">
                        {{#each trainees}}
                        <tr id="{{{traineeList.userID}}}">
                            <td style="width: 25%">{{traineeList.lastName}}, {{traineeList.firstName}}</td>
                            <td style="width: 15%">{{traineeList.email}}</td>
                            <td style="width: 10%;padding: 10px;text-align: center;">

                                <button class="btn btn-primary" type="button" id="add-trainee"style="background-color: #3e914d;"><strong>+</strong></button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-block float-right" style="width: 50%;padding: 20px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Trainees Added</th>
                            <th style="background-color: #006739;"></th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #f6f6f6;">
                        {{#each added}}
                        <tr>
                            <td>{{lastName}}, {{firstName}}</td>
                            <td style="width: 20%;padding: 10px;text-align: center;">

                                <button class="btn btn-primary" type="button" id="remove-trainee" style="background-color: #3e914d;"><strong>-</strong></button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
</div>
