<!DOCTYPE html>

{{>sidebar-trainer}}


<div>
        <div style="padding: 20px;padding-left: 100px;"><label style="font-size: 24px;color: #006739;"><strong>Create a class</strong></label>
            <hr>
        </div>
        <div style="width: 100%;height: 100%;padding-left: 100px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;min-height: 100%;">
            <div class="float-left" style="width: 95%;height: 100%;background: url(assets/img/conference.jpg) right / contain no-repeat, #f6f6f6;padding: 20px;margin: 5px;">
                <form method="post" id="create-class" name="create-class">
                <div class="d-flex" style="margin: 20px 10px;"><label class="float-left" style="padding-right: 30px;min-width: 120px;">

                    <strong>Course</strong></label>
                    
                    <div class="d-flex" style="margin-right: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0);border-radius: 5px;">
                        <select style="width: 150px;" id="course">
                            {{#each courseList}}
                            <option class="dropdown-item" href="#">{{courseName}}</option>
                            {{/each}}
                        </select>
                        <p id="courseError" class="error" style="margin-left: 5px; max-height: 32px;">{{courseError}}</p>
                    </div>
                </div>
            <div class="d-flex" style="margin: 20px 10px; height: 32px;"><label class="float-left" style="padding-right: 30px;min-width: 120px;"><strong>Start Date</strong></label>
                <input type="date" id="startDate"min="2018-01-01" max="2024-12-31" style="max-height: 32px;">
           <p id="sDate" class="error" style="margin-left: 5px; max-height: 32px;">{{sDate}}</p>
    </div>
    <div class="d-flex" style="margin: 20px 10px; height: 32px;"><label class="float-left" style="padding-right: 30px;min-width: 120px; max-height:"><strong>End Date</strong></label>
        <input type="date" id="endDate" 
           min="2018-01-01" max="2024-12-31" style="max-height: 32px;">
           <p id="eDate" class="error" style="margin-left: 5px; max-height: 32px;">{{eDate}}</p>
        </div>

    <div class="d-flex" style="margin: 20px 10px; height: 32px;"><label class="float-left" style="padding-right: 30px;min-width: 120px;"><strong>Start Time</strong></label>
           <input type="time" id="startTime"
       min="08:00" max="22:00">
       <p id="sTime" class="error" style="margin-left: 5px; max-height: 32px;">{{sTime}}</p>
    </div>
    <div class="d-flex" style="margin: 20px 10px; height: 32px;"><label class="float-left" style="padding-right: 30px;min-width: 120px;"><strong>End Time</strong></label>
        <input type="time" id="endTime"
       min="08:00" max="22:00">
       <p id="eTime" class="error" style="margin-left: 5px; max-height: 32px;">{{eTime}}</p>

    </div>

    <button class="btn btn-primary" id="create-class-btn" id="name" type="button" style="background-color: #006739;margin: 0px 10px;">Create</button>
    <button class="btn btn-primary" type="submit" style="background-color: #da6b59;margin: 10px 0px;">Cancel</button></div>
</form>
    </div>
</div>