<!DOCTYPE html>

{{>sidebar-trainer}}


<div style="background-color: #ffffff;height: 650px;">
        <div style="height: 70px;background-color: rgba(224,224,224,0);border-bottom-width: 2px;border-bottom-color: #e0e0e0;padding: 20px;padding-left: 100px;"><label style="font-size: 24px;color: #006739;"><strong>Dashboard</strong></label>
             <p id="test"></p>
            <hr style="filter: contrast(129%);">
        </div>
        <div style="padding: 20px;padding-left: 100px;"><label class="d-flex" style="font-size: 25px;padding-top: 10px;"><strong> {{fullName}}</strong></label><label class="d-flex" style="font-size: 18px;">{{uType}}</label></div>
        <div style="padding: 20px;padding-left: 100px;">
            <hr style="filter: contrast(129%);">

            <a href="/create-class"><button class="btn btn-primary d-flex" type="submit" style="background-color: #006739;margin-bottom: 30px; ">Create Class</button></a>

            <label style="font-size: 24px;color: #006739;"><strong>Classes</strong><br></label>
            <div class="table-responsive" style="background-color: #f6f6f6;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="color: rgb(255,255,255);background-color: #006739;width: 5%;">Section</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);width: 15%;">Course</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);width: 15%;">Start Date</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);width: 15%;">End Date</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);width: 13%;"> Schedule </th>
                            <th style="background-color: #006739;color: rgb(255,255,255);width: 14%;"></th>
                            <th style="background-color: #006739;color: rgb(255,255,255);width: 12%;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each classes}}
                        <tr id="{{{classList.classID}}}">
                            <td class='cSec'> {{classList.section}} </td>
                            <td class='cName'> {{course.courseName}} </td>
                            <td class='sDate'> {{classList.startDate}} </td>
                            <td class='eDate'> {{classList.endDate}} </td>
                            <td> {{classList.startTime}} - {{classList.endTime}} </td>
                            <td>
                                <button class="btn btn-primary manageTrainees" type="button" onclick="window.location.href = '/add-trainees/{{{classList.section}}}/{{{course.courseName}}}'" style="background-color: #006739;margin: 0px 10px;">Manage Trainees</button></td>
                            <td>
                                <button class="btn btn-primary deleteClassBtn" id="delClass" type="button" style="background-color: #006739;margin: 0px 10px;">Delete Class</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>