<!DOCTYPE html>

{{>sidebar-admin}}
<div style="padding-left: 100px;">
<label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 20px;">The VA Hub Clients</label>
<button id="updateCLBTN" class="btn btn-primary" type="button"><strong>Update List</strong></button>
<button id="addCLBTN" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addClient"><strong>Add Client</strong></button>
<p style="margin: 2px;">Click <strong>Update List</strong> to enable editing of client details. Clients can not be added or removed during editing of details.</p> <br>

    <div style="width:97%" id="addClient">
        <div class="border border-secondary rounded">
            <form method="post" id="add-client">
                <h4 style="font-weight:bold;margin-top:10px;margin-left:13px;">Add a new client</h4>
                <div style="padding: 10px;">
                        <input type="text" id="clientName"  placeholder="Client Name" class="form form-control"><br>
                        <input type="text" id="companyName"  placeholder="Company Name" class="form form-control"><br>
                        <input type="text" id="email"  placeholder="Email" class="form form-control"><br>
                        <input type="text" id="contactNo"  placeholder="Contact Number" class="form form-control"><br>
                        <button type="button" id="addClientBTN" class="btn btn-primary" ><i class="fa fa-plus"></i> Publish</button>
                        <button type="button" id="cancelClientBTN" class="btn btn-primary" data-toggle="collapse" data-target="#addTask">Cancel</button>
                        <p id="eAddClient" class="error" style="display: inline-block;margin-left:20px">{{eAddClient}}</p>
                </div>
            </form>
        </div>
    </div>
<hr>
    <div class="table-responsive" style="width: 97%;margin-top: 25px;background-color: rgba(163,164,167,0.11);">
        <table class="table" id="clientTable">
            <thead>
                <tr style="text-align: center;font-size: 17px;background-color:#006739;color:white">
                    <th style="width: 3%;">Active</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th style="width: 30%;">Email</th>
                    <th style="width: 15%;">Contact Number</th>
                    <th style="width: 3%;">Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each clients}}
                <tr>
                    <td><label class="switch"><input type="checkbox"><span id="isActive" class="slider round"></span></label></td>
                    <td contenteditable="false">{{clientName}}</td>
                    <td contenteditable="false">{{companyName}}</td>
                    <td contenteditable="false">{{email}}</td>
                    <td contenteditable="false">{{contactNo}}</td>
                    <td align="center"><button id="deleteBTN" class="delete" title="Remove Client"><i class="fa fa-remove"></i></button></td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>