<!DOCTYPE html>

{{>sidebar-trainer}}

<div style="padding: 20px;padding-left: 100px;">
    <div><label style="font-size: 24px;color: #006739;"><strong>Quizzes</strong></label>
        <hr>
    </div>
    <div><a href = "/create-quiz"><button class="btn btn-primary" type="button" style="background-color: #006739;margin-top: 20px;margin-bottom: 20px;">Create Quiz</button></a></div>
    <div>
        <div class="table-responsive" style="background-color: #f6f6f6; width:70%;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 10%;background-color: #006739;color: rgb(255,255,255);">Quiz ID</th>
                        <th style="width: 5%;background-color: #006739;color: rgb(255,255,255);">Section</th>
                        <th style="width: 15%;background-color: #006739;color: rgb(255,255,255);">Date</th>
                        <th style="width: 15%;background-color: #006739;color: rgb(255,255,255);">Time</th>
                        <th style="width: 5%; background-color: #006739;color: rgb(255,255,255);">Items</th>
                        <th style="width: 5%; background-color: #006739;color: rgb(255,255,255);">Takes</th>
                        <th style="width: 10%;background-color: #006739;"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each quizzes}}
                    <tr>
                        <td>{{quizID}}</td>
                        <td>{{quizList.section}}</td>
                        <td>{{quizDate}}</td>
                        <td>{{startTime}} - {{endTime}}</td>
                        <td>{{numItems}}</td>
                        <td>{{numTakes}}</td>
                        <td>
                            <button onclick="window.location.href = '/update-quiz/{{{quizID}}}/{{{quizDate}}}/{{{quizList.section}}}/{{{startTime}}}/{{{endTime}}}/{{{numTakes}}}'" class="btn btn-primary" type="button" style="background-color: #006739;margin-left: 5px;">Update</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>