<!DOCTYPE html>

{{>sidebar-trainer}}

<div style="padding: 20px;padding-left: 100px;">
    <div><label style="font-size: 24px;color: #006739;"><strong>Update Scoresheet</strong></label>
        <p style="margin: 2px;"> Select the class and day of the scoresheet you want to update.</p> 
        <p style="margin: 2px;">Click on the scores you wish to edit and click on update.</p>
        <p style="margin: 2px;"> The criteria is as follows: 10 - 9 (Outstanding), 8 - 7 (Satisfactory), 6 - 5 (Fairly Satisfactory), 4 - 3 (Needs Improvement), 2 - 0 (Poor). </p>  
        <p style="margin: 2px;"><strong>Note:</strong> If the training period class is over, the scoresheet will not be editable.</p>
        <hr>
    </div>
    <div>
        <div style="padding: 10px 0px;">
            <div class="d-flex" style="margin: 5px 10px;">
                <label class="float-left" style="padding-right: 16px;min-width: 70px;"><strong>Section</strong></label>
                <div class="d-flex" style="margin-right: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0);border-radius: 5px;">
                    <p id="classhide" val="{{classSelected}}">{{classSelected}}</p>
                    <select style="width: 70px;" id="scoresheet-section">
                        <option class="dropdown-item" id="day1" href="#"> {{secSelected}} </option>
                        {{#each classes}}
                        <option class="dropdown-item" id="day1" href="#"> {{section}} </option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="d-flex" style="margin: 5px 10px;">
                <label class="float-left" style="padding-right: 30px;min-width: 70px;"><strong>Day</strong></label>
                
                <div class="d-flex" style="margin-right: 5px; height: 32px;padding: 2px;border-color: rgb(0,0,0);border-radius: 5px;">
                    <p id="idhide" val="{{date}}">{{date}}</p>
                    <select style="width: 70px;" id="class-day">
                        <option class="dropdown-item" id="day1" href="#"> {{daySelected}} </option>
                        <option class="dropdown-item" id="day1" href="#"> Day 1 </option>
                        <option class="dropdown-item" id="day2" href="#"> Day 2 </option>
                        <option class="dropdown-item" id="day3" href="#"> Day 3 </option>
                        <option class="dropdown-item" id="day4" href="#"> Day 4 </option>
                        <option class="dropdown-item" id="day5" href="#"> Day 5 </option>
                        <option class="dropdown-item" id="day6" href="#"> Day 6 </option>
                        <option class="dropdown-item" id="day7" href="#"> Day 7 </option>
                        <option class="dropdown-item" id="day8" href="#"> Day 8 </option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div>
                <label style="font-size: 25px;color: #006739;"><strong>Scores</strong></label>
            </div>
            <div class="table-responsive" style="background-color: #f6f6f6;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="padding: 10px 5px; width: 15%;font-size: 14px;background-color: #006739;color: rgb(255,255,255);">Trainee</th>
                            {{#each skills}}
                            <th style="padding: 10px 5px; width: 15%;font-size: 14px;background-color: #006739;color: rgb(255,255,255);">{{skillName}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody id="traineeScores">
                        {{#each trainees}}
                        <tr id="{{traineeList.userID}}">
                            <td>{{traineeList.lastName}}, {{traineeList.firstName}}</td>

                            <td><p style="width: 30px;" class="theScore" placeholder="0">{{tscore.[0]}}</p>
                            <input type="text" style="width: 50px;" class="scoresheetEditor score0" value="{{tscore.[0]}}" /></td> 
                            
                            <td><p style="width: 30px;" class="theScore">{{tscore.[1]}}</p>
                            <input type="text" style="width: 50px;" class="scoresheetEditor score1" value="{{tscore.[1]}}" /></td>
                      
                            <td><p style="width: 30px;" class="theScore">{{tscore.[2]}}</p>
                            <input type="text" style="width: 50px;" class="scoresheetEditor score2" value="{{tscore.[2]}}" /></td>
                          
                            <td><p style="width: 30px;" class="theScore">{{tscore.[3]}}</p>
                            <input type="text" style="width: 50px;" class="scoresheetEditor score3" value="{{tscore.[3]}}" /></td>

                            <td><p style="width: 30px;" class="theScore">{{tscore.[4]}}</p>
                            <input type="text" style="width: 50px;" class="scoresheetEditor score4" value="{{tscore.[4]}}" /></td>

                            <td><p style="width: 30px;" class="theScore">{{tscore.[5]}}</p>
                            <input type="text" style="width: 50px;" class="scoresheetEditor score5" value="{{tscore.[5]}}" /></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <button type="button" id="updateScoresheet" style="background-color: #006739; margin-top: 20px;border-radius: 4px; color: #ffffff;">Update</button>

    </div>
</div>