<!DOCTYPE html>
<title>The VA Hub - Profile</title>

{{>sidebar-trainer}}



<div style="background-color: #ffffff;height: 650px;">
<div style="height: 70px;background-color: rgba(224,224,224,0);border-bottom-width: 2px;border-bottom-color: #e0e0e0;padding: 20px;padding-left: 100px;"><label style="font-size: 24px;color: #006739;"><strong>User Profile</strong></label>
    <hr style="filter: contrast(129%);">
</div>
<div style="padding: 20px;padding-left: 100px;"><img class="d-inline-flex" src="/assets/img/profile-photo.jpg" style="border: 1px solid; width: 200px;height: 200px;">

    <label class="d-flex" style="font-size: 25px;padding-top: 10px;"><strong> {{fullName}} </strong></label>

    <label class="d-flex" style="font-size: 18px;"> {{uType}} </label>

</div>
<div style="padding: 20px;padding-left: 100px;">
    <hr style="filter: contrast(129%);"><label style="font-size: 24px;color: #006739;"><strong>Your Classes</strong><br></label>
    <div class="table-responsive" style="background-color: #f6f6f6;">
        <table class="table">
            <thead>
                <tr>
                    <th style="color: rgb(255,255,255);background-color: #006739;">Section</th>
                    <th style="background-color: #006739;color: rgb(255,255,255);">Course</th>
                    <th style="background-color: #006739;color: rgb(255,255,255);">Start Date</th>
                    <th style="background-color: #006739;color: rgb(255,255,255);">End Date</th>
                </tr>
            </thead>
            <tbody>
                 {{#each classes}}
                <tr>
                    <td> {{classList.section}} </td>
                    <td> {{course.courseName}} </td>
                    <td> {{classList.startDate}} </td>
                    <td> {{classList.endDate}} </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>