<!DOCTYPE html>

{{>sidebar-trainee}}

<div style="background-color: #ffffff;height: 650px;">
    <div style="height: 70px;background-color: rgba(224,224,224,0);border-bottom-width: 2px;border-bottom-color: #e0e0e0;padding: 20px;padding-left: 100px;"><label style="font-size: 24px;color: #006739;"><strong>User Profile</strong></label>
        <hr style="filter: contrast(129%);">
    </div>
    <div style="padding: 20px;padding-left: 100px;"><img class="d-inline-flex" style="width: 200px;height: 200px;"><label class="d-flex" style="font-size: 25px;padding-top: 10px;"><strong> {{fullName}} </strong></label><label class="d-flex" style="font-size: 18px;">{{uType}}</label></div>
    <div style="padding: 20px;padding-left: 100px;">
        <hr style="filter: contrast(129%);"><label style="font-size: 24px;color: #006739;"><strong>Class and Course Details</strong><br></label>
        <div class="table-responsive" style="background-color: #f9f8f0; padding: 10px;">
            <label><strong>Section</strong></label>
            <p> {{classList.section}} </p>
            <label><strong>Course</strong></label>
            <p> {{course}} </p>
            <label><strong>Course Modules</strong></label>
            <p> insert Modules </p>
        </div>
    </div>
    <div style="padding: 20px;padding-left: 100px;">
        <hr style="filter: contrast(129%);"><label style="font-size: 24px;color: #006739;"><strong>Your Clients</strong><br></label>
        <div class="table-responsive" style="background-color: #f9f8f0;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Name</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">Company</th>
                        <th style="background-color: #006739;color: rgb(255,255,255);">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each clients}}
                    <tr>
                        <td> {{clientList.clientName}}  </td>
                        <td> {{clientList.companyName}} </td>
                        <td> {{clientList.email}} </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>