<!DOCTYPE html>

{{>sidebar-admin}}
  
<div style="padding-left: 100px;">
<label style="color: #006739;font-size: 25px;font-weight: bold;margin-top: 20px;">The VA Hub Clients</label>
<button id="saveCLBTN" class="btn btn-primary" type="button"><strong>Save</strong></button>
<button id="xaddCLBTN" class="btn btn-primary" type="button"><strong>Add Client</strong></button>
<p style="margin: 2px;">Click <strong>Update List</strong> to enable editing of client details. Clients can not be added or removed during editing of details.</p>
<p id="eUpdateClients" class="error">{{eUpdateClients}}</p>
<hr>
    <div class="table-responsive" style="width: 97%;margin-top: 25px;background-color: rgba(163,164,167,0.11);">
        <table class="table" id="clientTable">
            <thead>
                <tr style="text-align: center;font-size: 17px;background-color:#006739;color:white">
                    <th style="width: 3%;">Active</th>
                    <th style="width: 24%;">Name</th>
                    <th style="width: 24%;">Company</th>
                    <th style="width: 28%;">Email</th>
                    <th style="width: 15%;">Contact Number</th>
                    <th style="width: 5%;">Remove</th>
                </tr>
            </thead>
            <tbody id="clients">
                {{#each clients}}
                <tr id="{{{clientID}}}">
                    {{!-- {{#if isActive }} --}}
                    {{!-- <td><label class="switch"><input class="active" checked type="checkbox"><span class="slider round"></span></label></td> --}}
                    {{!-- {{else}} --}}
                    {{!-- <td><label class="switch"><input class="active" type="checkbox"><span class="slider round"></span></label></td> --}}
                    {{!-- {{/if}} --}}
                    <td>
                     <select style="width: 70px;" class="isActive">
                        <option class="dropdown-item" id="opt" href="#"> {{isActive}} </option>
                        <option class="dropdown-item" id="true" href="#"> true </option>
                        <option class="dropdown-item" id="false" href="#"> false </option>
                    </select></td>
                    {{!-- <td><input type="text" class="isActive" style="width: 90%;" value="{{isActive}}"></td> --}}
                    <td><input type="text" class="clientName" style="width: 90%;" value="{{clientName}}"></td>
                    <td><input type="text" class="companyName" style="width: 90%;" value="{{companyName}}"></td>
                    <td><input type="email" class="email" style="width: 90%;" value="{{email}}"></td>
                    <td><input type="text" class="contactNo" style="width: 90%;" value="{{contactNo}}"></td>
                    <td align="center"><button id="xdeleteBTN" class="delete" title="Remove Client"><i class="fa fa-remove"></i></button></td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>