<!DOCTYPE html>

{{>sidebar-trainee}}

<div style="padding: 20px;padding-left: 100px;">
    <div><label style="font-size: 24px;color: #006739;"><strong>Scoresheet</strong></label>
        <hr>
    </div>
    <div>
        <div style="padding: 10px 0px;">
            <div class="table-responsive" style="max-width: 40%;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="max-width: 20%;">Trainee</th>
                            <th>{{fullName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="max-width: 20%;"><strong>Section and Course</strong></td>
                            <td>{{section}} {{course}}</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div><label style="font-size: 25px;color: #006739;"><strong>Scores</strong></label>
            <div class="table-responsive" style="background-color: #f9f8f0;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Skill</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 1</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 2</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 3</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 4</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 5</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 6</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 7</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Day 8</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each skills}}
                        <tr>
                            <td style="width: 33%;">{{skillName}}</td>
                            <td>{{skillScores.[0]}}</td>
                            <td>{{skillScores.[1]}}</td>
                            <td>{{skillScores.[2]}}</td>
                            <td>{{skillScores.[3]}}</td>
                            <td>{{skillScores.[4]}}</td>
                            <td>{{skillScores.[5]}}</td>
                            <td>{{skillScores.[6]}}</td>
                            <td>{{skillScores.[7]}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <br>
             <div class="table-responsive" style="background-color: #f9f8f0;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Quiz</th>
                            {{!-- <th style="background-color: #006739;color: rgb(255,255,255);">Date</th> --}}
                            <th style="background-color: #006739;color: rgb(255,255,255);">Score</th>
                            <th style="background-color: #006739;color: rgb(255,255,255);">Out of</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each quizzes}}
                        <tr>
                            <td style="width: 75%;">{{quizName}}</td>
                            {{!-- <td>{{quizDate}}</td> --}}
                            <td>{{score}}</td>
                            <td>{{outOf}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
    </div>
</div>